<section id="contato" class="gray-section">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Acompanhe AmeSeuDinheiro</h1>
            <p>Cadastre o seu e-mail para receber nossos informativos</p>
        </div>
    </div>
    <%= form_tag(landing_cadastro_path, :remote => true) do %>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <strong><span class="navy">Cadastre-se</span></strong><br/>
            <div class="input-group input-group-sm">
                <%= text_field_tag(:nome, nil, class: 'form-control', placeholder: "Nome", style: "aria-describedby='sizing-addon3'") %>
                <%= text_field_tag(:sobrenome, nil, class: 'form-control', placeholder: "Sobrenome", style: "aria-describedby='sizing-addon3'") %>
                <%= text_field_tag(:email, nil, class: 'form-control', placeholder: "E-mail", style: "aria-describedby='sizing-addon3'") %>
            </div>
        </div>
        <div class="col-lg-4" style="padding: 40px">
       <!--     <button class="btn btn-primary btn-xs " type="button">
                <i class="fa fa-check"></i> Cadastrar
            </button> -->
            <%= submit_tag 'Cadastrar', class: "btn btn-primary"%>
        </div>
    </div>
    <% end %> 
    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="m-t-sm">
                Siga o AmeSeuDinheiro
            </p>
            <ul class="list-inline social-icon">
                <li><a href="https://www.facebook.com/ameseudinheiro"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; AmeSeuDinheiro </strong><br/> Av. Prof. Lineu Prestes, 2242 CIETEC - Sala 272 - CEP: 05508-000 - Cidade Universitária, São Paulo/SP</p>
        </div>
    </div>
</div>
</section>